<!DOCTYPE html>
<html>
	<head>
		<title>Dribbblery, an awesome Dribbble gallery</title>
		<link rel="stylesheet" href="style.css"/>
		<script type="text/javascript" src="underscore-min.js"></script>
		<script type="text/javascript" src="jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="backbone.js"></script>
		<script type="text/javascript" src="dribbblery.js"></script>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<ul>
					<li id="popular" class="selected">Popular</li>
					<li id="debuts">Debuts</li>
					<li id="everyone">Everyone</li>
				</ul>
			</div>
			<div id="shots">
			</div>
			<button id="loadmore">Load more</button>
		</div>
		<script type="text/template" id="shot-template">
			<img src="<%- image_teaser_url %>" class="shot_thumb"/>
			<div class="metadata">
				<span class="likes"><img src="star.png"/><%- likes_count %> like<% if (likes_count != 1) { %>s<% } %></span>
				<span class="comments"><img src="comment.png"/><%- comments_count %> comment<% if (comments_count != 1) { %>s<% } %></span>
			</div>
		</script>
	</body>
</html>
