body {
  background-color: #f0f0f0;
  color: #333;
  padding: 0px;
  margin: 0px;
  font-family: sans-serif; }

#container {
  padding: 0px;
  margin: 0px; }
  #container #header {
    background-color: #333355;
    color: #f0f0f0;
    box-shadow: 0px 8px 14px 0px rgba(35, 35, 35, 0.5);
    width: 100%;
    position: fixed;
    top: 20px;
    z-index: 10; }
    #container #header ul {
      list-style-type: none; }
      #container #header ul li {
        border-radius: 25px;
        border: 2px solid #f0f0f0;
        margin: 10px;
        padding: 5px;
        line-height: 25px;
        width: 100px;
        text-align: center;
        height: 25px;
        display: inline-block; }
      #container #header ul li.selected {
        background-color: #4444aa; }
      #container #header ul li:hover, #container #header ul li.selected:hover {
        cursor: pointer;
        color: #333355;
        background-color: #f0f0f0; }
  #container #shots {
    margin: 120px auto 50px;
    width: 80%;
    max-width: 800px;
    position: relative; }
    #container #shots button {
      position: absolute;
      bottom: -40px; }
    #container #shots .shot {
      background-color: #fafafa;
      border-radius: 15px;
      border: 1px solid #bdbdbd;
      width: 224px;
      display: inline-block;
      margin: 10px 20px 10px 20px;
      box-shadow: 0px 5px 5px rgba(35, 35, 35, 0.5); }
      #container #shots .shot img.shot_thumb {
        height: 150px;
        width: 200px;
        margin: 10px;
        border: 1px solid #d6d6d6;
        border-radius: 2px; }
      #container #shots .shot .metadata {
        font-size: 0.9em;
        height: 23px;
        line-height: 23px;
        margin: 0px 0px 5px 0px; }
        #container #shots .shot .metadata img {
          position: relative;
          top: 3px;
          margin: 0px 6px; }
  #container #loadmore {
    position: fixed;
    bottom: 20px;
    margin: 0px auto; }
